.page-head {
	display: none;
}
.chart-list-header {
	margin-top: -5px;
}

.chart-list-item {
	min-height: 60px;
}

.chart-name {
	font-weight:normal;
}

.chart-list-item-desc {
	margin-top: -10px;
}

.new-chart {
	cursor: pointer;
}

.new-chart:hover {
	text-decoration: underline;
}

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #eee;
	overflow: hidden;
	position: relative;
}

ul.tabs li h3 {
	margin-top: 10px !important;
}

.tab_last { border-right: 1px solid #fff !important; }

ul.tabs li:hover { background-color: #ccc; }

ul.tabs li.active {
	background-color: #fff;
	display: block;
}

.tab_container {
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}

@media (max-width: 767px) {
	ul.tabs li h3 {
		font-size: 15px;
	}

	ul.tabs {
		display: block;
	}

	ul.tabs li {
		width: 100%;
		border: 1px solid #ddd;
	}

	.tab_last {
		border-right: 1px solid #ddd !important;
	}

}