<style>
.page-head { display: none; }
</style>

<p>
	<form method="get" action="/">
		<input type="text" class="form-control" name="search" placeholder="Search" />
	</form>
</p>

{% if frappe.form_dict.search %}
<p>Filtered by "{{ frappe.form_dict.search }}". <a href="/">Clear</a></p>
{% endif %}

<div class="padding"></div>

{% for chart in charts %}
	<div class="dashboard-list-item">
		<a href="/chart?company={{ chart.name }}&forked={{ chart.forked }}&submitted={{ chart.submitted }}">
			<h4>{{ chart.name }}</h4>
		</a>
		<p class="small text-muted" style="margin-top: -10px">
			Submitted by {{ chart.submitted_by }}. {{ chart.stars }} Stars
		</p>
	</div>
{% endfor %}