<!-- jinja -->
<!-- no-sidebar -->
<!-- no-header -->
<!-- no-breadcrumbs -->
<!-- no-cache -->
<!-- title: ERPNext Charts -->

{% extends "templates/web.html" %}

{% macro show_charts(label, charts, tab, active=False, show_user=True) %}
	{% if charts %}
		<div id="{{tab}}" class="tab_content">
			{% for chart in charts %}
				<div class="chart-list-item col-sm-12">
					<a href="/chart?company={{ chart.name }}&forked={{ chart.forked }}&submitted={{ chart.submitted }}&owner={{ chart.owner }}">
						<div class="pull-right text-muted small" style="margin-top:8px">
							<span class="octicon octicon-star"></span>
							<span class="star-count">{{ chart.stars }}</span>
						</div>
						<div>
							<h4 class="chart-name">{{ chart.name }}</h4>
							{% if show_user %}
								<div class="small text-muted chart-list-item-desc">
										Submitted by {{ chart.submitted_by }}
								</div>
							{% endif %}
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	{% elif frappe.user != "Guest" and not charts %}
		<div id="{{tab}}" class="tab_content">
			No Charts created yet.
		</div>
	{% endif %}
{% endmacro %}

{% block page_content %}

<style>{% include "chart_of_accounts_builder/www/all_charts.css" %}</style>

<div class="row hero" style="padding-bottom: 90px; text-align: center">
    <div class="col-sm-12">
        <img class="erp-hero" src="assets/chart_of_accounts_builder/images/chart-of-accounts-builder.svg" style="width: 200px; margin-top: 30px;">
    </div>
    <div class="col-sm-12 hero-content">
        <h1>ERPNext Chart of Accounts</h1>
        <p>Help build Chart of Accounts for ERPNext</p>
        <a class="btn btn-primary" href="#charts">Select a Chart to Start</a>
        <p class="description new-chart">
			or create a new chart.
		</p>
    </div>
</div>

<div id="charts" style="padding-top:40px">

	<div class="chart-search">
		<form method="get" action="#charts">
			<select type="text" class="form-control" name="search" placeholder="Search by country" onchange="this.form.submit()">
				<option value="" disabled selected> Search by country </option>
				{% for d in country %}
					<option value = "{{ d }}"> {{ d }} </option>
				{% endfor %}
			</select>
		</form>
	</div>

	{% if frappe.form_dict.search %}
	<p>Filtered by "{{ frappe.form_dict.search }}". <a href="/">Clear</a></p>
	{% endif %}

	<div class="padding"></div>

	<ul class="tabs">
		<li class="active" rel="tab1"><h3> User Contributed Charts </h3></li>
		<li rel="tab2"><h3> Standard Charts </h3></li>
		{% if frappe.user != "Guest" and not charts %}
			<li rel="tab3"><h3> My Charts </h3></li>
		{% endif %}
	</ul>

	<div class="tab_container">
		{{ show_charts("User Contributed Charts", contributed_charts, "tab1") }}
		{{ show_charts("Standard Charts", sample_charts, "tab2", show_user=False) }}
		{{ show_charts("My Charts", my_open_charts, "tab3", active=True, show_user=False) }}
	</div>
</div>

<script>{% include "chart_of_accounts_builder/www/all_charts.js" %}</script>

{% endblock %}