<!-- no-cache -->

{% if frappe.user == "Guest" %}
<div class='alert alert-warning'>Please <a href="/login">login</a> to fork this chart</div>
{% endif %}

{% if frappe.user != "Guest" %}
	{% if frappe.form_dict.forked == "0" %}
		<p><button class="btn btn-default btn-sm pull-right fork-button">Fork</button></p>
	{% elif frappe.form_dict.submitted == "0" %}
		<p><button class="btn btn-default btn-sm pull-right submit-chart">Submit</button></p>
	{% endif %}
{% endif %}

{% macro render_node(parent) %}
<ul>
{% for account in accounts %}
	{% if (account.parent_account or "") == parent %}
	<li>
		<span class="tree-link"
			data-name="{{ account.name }}"
            data-account-name="{{ account.account_name }}"
			data-parent-account="{{ account.parent_account }}"
            data-account-type="{{ account.account_type }}"
			data-company="{{ account.company }}"
            data-is-group="{{ account.is_group }}"
            data-root-type="{{ account.root_type }}">{{ account.account_name }}</span>
		{% if account.is_group %}
			{{ render_node(account.name) }}
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endmacro %}

{% block style %}
<style>
    {% include "frappe/public/css/tree.css" %}
</style>
{% endblock %}

<!-- title: {{ frappe.form_dict.company }} -->

<h1>{{ frappe.form_dict.company }}</h1>

<hr>

<div class="tree" style="margin-left: -55px;">
	{{ render_node("") }}
</div>
