<!-- no-cache -->

{% macro render_node(parent) %}
<ul>
{% for account in accounts %}
	{% if (account.parent_account or "") == parent %}
	<li>
		<span class="tree-link"
			data-name="{{ account.name }}"
            data-account-name="{{ account.account_name }}"
			data-parent-account="{{ account.parent_account }}"
            data-account-type="{{ account.account_type }}"
			data-company="{{ account.company }}"
            data-is-group="{{ account.is_group }}"
            data-root-type="{{ account.root_type }}">{{ account.account_name }}</span>
		{% if account.is_group %}
			{{ render_node(account.name) }}
		{% endif %}
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endmacro %}

{% block style %}
<style>
    {% include "frappe/public/css/tree.css" %}
</style>
{% endblock %}

<!-- title: {{ frappe.form_dict.company }} -->

<h1>{{ frappe.form_dict.company }}</h1>

<span class="tree">
	{{ render_node("") }}
</span>
